# Ignorar diretórios de cache do Python
__pycache__/
*.pyc

# Ignorar arquivos de uploads temporários
uploads/

# Ignorar arquivos gerados

# Ignorar arquivos de configuração do ambiente
.env

# Ignorar diretório do ambiente virtual
venv/

# Ignorar diretório de configuração do VS Code
.vscode/
